<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Real Estate Management System</title>
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fluid container">
            <div class="headerBar">

            </div>
            <div class="ui container">
                <div class="headerContent">
                    <br>
                    <h1 class="ui violet circular huge label">Logo goes here</h1>
                </div>
                <div class="ui centered grid">
                    <div class="ui six wide column">
                        <br>
                        <br>
                        <div class="ui fluid violet card">
                            <div class="content">
                            	Page Not Found
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerContent">
                <div class="ui inverted tiny centered header">Real estate management system. Developed at AAiT.</div>
            </div>
        </div>
    </body>
    <script type="text/javascript" th:href="@{/js/semantic.min.js}"></script>
</html>