<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Real Estate Management System</title>
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fluid container">
            <div class="headerBar">

            </div>
            <div class="ui container">
                <div class="headerContent">
                    <br>
                    <div class="ui centered grid">
                        <div class="ui three wide column">
                            <div  class="ui left floated violet circular huge label">Logo goes here</div>
                        </div>
                        <div class="ui four wide column">
                            <div class="ui violet fluid icon input">
                                <input type="text" placeholder="Search...">
                                <i class="violet inverted circular search link icon"></i>
                            </div>
                        </div>
                        <div class="ui four wide column">
                            <div class="ui circular button">Register</div>
                            <div class="ui circular violet button">Login</div> 
                        </div>
                    </div>
                </div>
                <div class="ui centered grid">
                    <div class="ui fourteen wide column">
                       
                    </div>
                </div>
            </div>
            <div class="welcomeDiv">
                <div class="ui huge inverted header centered">
                    <span class="ui inverted huge header">The Ultimate Real Estate Finder in Addis.<br></span>
                    <span class="ui inverted header">Let's help You find your ideal <br> Home!<br></span>
                    <div class="ui inverted small centered header"><i class="icon angle down"></i></div>
                </div>        
            </div>
            
            <div class="filterDiv">
                    <br>
                    <br>
                <div class="ui container">
                    <div class="ui grid">
                        <div class="ui sixteen wide column">
                            <div class="ui fluid card">
                                <div class="content">
                                    <h4 class="ui large violet header"><i class="icon filter"></i> Find Your Home</h4>
                                    <hr class="ui divider">
                                    <div class="ui five column grid">
                                        <div class="column">
                                            <div class="ui tiny violet header"><i class="icon map marker alternate"></i>Location</div>
                                            <hr class="ui divider">
                                            <select class="ui fluid dropdown">
                                                <option value="Any Where">Any Where</option>
                                                <option value="Arada Sub city">Arada Sub city</option>
                                                <option value="Gulele Sub city">Gulele Sub city</option>
                                                <option value="Bole Sub city">Bole Sub city</option>
                                                <option value="Addis Ketema Sub city">Addis Ketema Sub city</option>
                                                <option value="Kolfe Sub city">Kolfe Sub city</option>
                                                <option value="Kirkos Sub city">Kirkos Sub city</option>
                                                <option value="Lideta Sub city">Lideta Sub city</option>
                                                <option value="Yeka Sub city">Yeka Sub city</option>
                                                <option value="Akaki Kaliti Sub city">Akaki Kaliti Sub city</option>
                                                <option value="Nifas Silk Sub city">Nifas Silk Sub city</option>
                                            </select>
                                        </div>
                                        <div class="column">
                                            <div class="ui tiny violet header"><i class="icon tag"></i>Price Range</div>
                                            <hr class="ui divider">  
                                            <select class="ui fluid dropdown">
                                                <option value="Any Where">Any Price</option>
                                                <option value="Arada Sub city">Less than 1,000,000</option>
                                                <option value="Gulele Sub city">1,000,000 - 3,000,000</option>
                                                <option value="Gulele Sub city">3,000,000 - 5,000,000</option>
                                                <option value="Gulele Sub city">5,000,000 - 10,000,000</option>
                                                <option value="Bole Sub city">10,000,000 - 15,000,000</option>
                                            </select> 
                                        </div>
                                        <div class="column">
                                            <div class="ui tiny violet header"><i class="icon bed"></i>Number of Bedrooms</div>
                                            <hr class="ui divider">
                                            <select class="ui fluid dropdown">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="1">5</option>
                                                <option value="1">More than 5</option>
                                            </select>       
                                        </div>
                                        <div class="column">
                                            <div class="ui tiny violet header"><i class="icon Building"></i>Area (m2)</div>
                                            <hr class="ui divider">
                                            <select class="ui fluid dropdown">
                                                <option value="less than 70">Less than 70</option>
                                                <option value="Less than 70">70 - 150</option>
                                                <option value="1">150 - 300</option>
                                                <option value="1">300 - 500</option>
                                                <option value="1">500 - 1000</option>
                                                <option value="1">More than 1000</option>
                                            </select>    
                                        </div>
                                        <div class="column">
                                            <br>
                                            <hr class="ui divider">
                                            <button class="ui fluid violet button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
            <div class="footerContent">
                <div class="ui  tiny centered header">Real estate management system. Developed at AAiT.</div>
            </div>
        </div>
    </body>
    
    <script type="text/javascript" th:href="@{/js/semantic.min.js}"></script>
    
</html>