body{
    background-image: linear-gradient(90deg, #42275a , #734b6d);
}
.headerBar{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 2px solid #42275a;
    z-index: 1000;
    box-shadow: 5px 10px 20px #42275a;
}
.headerContent{
    z-index: 3000;
    position: absolute;
    top:0px;
}
.footerContent{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width:100%;
}