<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
    <head>
        <title>Real Estate Management System</title>
        
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/semantic.min.js}"></script>
        
    </head>
    <body style="background: #fff;">
        <div class="adminPanel">
            <div class="leftPanel">
                <div class="ui centered grid">
                    <div class="ui sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <form method="POST" th:action="@{/logout}">
                                	<button class="ui right floated circular small negative button"><i class="icon power"></i>Logout</button>
                                </form>
                                <span class="ui left floated violet header"><i class="icon user outline"></i>Admin Panel</span>
                            </div>    
                        </div>
                    </div>
                    <div class="ui sixteen wide column">
                        <div class="ui fluid violet card">
                            <div class="content">
                                <div class="ui violet large header">Menu</div>
                                <div class="ui vertical pointing violet fluid menu">
                                    <a th:href="@{/adminHome}" class="item active">
                                        <span class="ui tiny violet header"><i class="icon building outline"></i>View Houses</span>
                                    </a>
                                    <a th:href="@{/adminHome/addNewHouse}" class="item">
                                        <span class="ui tiny violet header"><i class="icon add outline"></i>Add New House</span>
                                    </a>
                                    <a th:href="@{/adminHome/rentRequests}" class="item">
                                        <span class="ui tiny violet header"><i class="icon handshake"></i>Rent Requests</span>
                                    </a>
                                    <a th:href="@{/adminHome/buyRequests}" class="item">
                                        <span class="ui tiny violet header"><i class="icon dollar sign"></i>Buy Requests</span>
                                    </a>
                                    <a th:href="@{/adminHome/leaseRent}" class="item">
                                        <span class="ui tiny violet header"><i class="icon unlink"></i>Lease Rent</span>
                                    </a>
                                    <a th:href="@{/adminHome/allUsers}" class="item">
                                        <span class="ui tiny violet header"><i class="icon users"></i>Registered Users</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightPanel">
                <div class="ui grid">
                    <div class="ui fifteen wide column">
                        <h1 class="ui large violet header"><i class="icon building outline"></i>Registered Houses</h1>
                        <hr class="ui divider" />
                    </div>
                    <div class="ui fifteen wide column">
                        <div class="ui three cards">
                            <div class="card" th:each = "house : ${houses}">
                                <div class="image">
                                    <img style = "height:300px" th:src="@{/images/1.jpg}">
                                </div>
                                <div class="content">
                                    <h4 class="ui violet header" th:text="${house.getName()}">House Name Here</h4>
                                    <h4 class="ui violet tiny header"><i class="icon map marker alternate"></i> <span th:text = "${house.getLocation()}" th:remove="tag">Selected location</span></h4>  
                                </div>
                                <div class="extra">
                                    <button class="ui negative tiny button" th:onclick = "'deleteHouse(' + ${house.getId()} + ')'"><i class="icon trash"></i>Delete</button>
                                    <button class="ui violet tiny button" th:onclick = "'editHouse(' + ${house.getId()} + ')'"><i class="icon edit"></i>Edit</button>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </body>
    <script type="text/javascript">
        $('.ui.vertical.pointing.violet.fluid.menu')
            .on('click', '.item', function() 
            		{
		                if($('.item').hasClass('active'))
		                {
		                    $('.item').removeClass('active');
		                }
		
		                if(!$(this).hasClass('active')) 
		                {
		                    $(this).addClass('active');
		                }
		            }
    	);
        
        function editHouse(id)
        {
        	var host = "/adminHome/edit/"+id;
        	window.location.assign(host)
        }
        
        function deleteHouse(id)
        {
        	var host = "/adminHome/deleteHouse/"+id;
        	window.location.assign(host)
        }
    </script>
</html>
