<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
    <head>
        <title>Real Estate Management System</title>
        
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/semantic.min.js}"></script>
        
    </head>
    <body style="background: #fff;">
        <div class="adminPanel">
            <div class="leftPanel">
                <div class="ui centered grid">
                    <div class="ui sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <form method="POST" th:action="@{/logout}">
                                	<button class="ui right floated circular small negative button"><i class="icon power"></i>Logout</button>
                                </form>
                                <span class="ui left floated violet header"><i class="icon user outline"></i>Admin Panel</span>
                            </div>    
                        </div>
                    </div>
                    <div class="ui sixteen wide column">
                        <div class="ui fluid violet card">
                            <div class="content">
                                <div class="ui violet large header">Menu</div>
                                <div class="ui vertical pointing violet fluid menu">
                                   <a th:href="@{/adminHome}" class="item">
                                        <span class="ui tiny violet header"><i class="icon building outline"></i>View Houses</span>
                                    </a>
                                    <a th:href="@{/adminHome/addNewHouse}" class="item active">
                                        <span class="ui tiny violet header"><i class="icon add outline"></i>Add New House</span>
                                    </a>
                                    <a th:href="@{/adminHome/rentRequests}" class="item">
                                        <span class="ui tiny violet header"><i class="icon handshake"></i>Rent Requests</span>
                                    </a>
                                    <a th:href="@{/adminHome/buyRequests}" class="item">
                                        <span class="ui tiny violet header"><i class="icon dollar sign"></i>Buy Requests</span>
                                    </a>
                                    <a th:href="@{/adminHome/leaseRent}" class="item">
                                        <span class="ui tiny violet header"><i class="icon unlink"></i>Lease Rent</span>
                                    </a>
                                    <a th:href="@{/adminHome/allUsers}" class="item">
                                        <span class="ui tiny violet header"><i class="icon users"></i>Registered Users</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightPanel">
                <div class="ui grid">
                    <div class="ui fifteen wide column">
                        <h1 class="ui large violet header"><i class="icon edit"></i>Edit House</h1>
                        <hr class="ui divider" />
                    </div>
                    <div class="ui fifteen wide column">
                    	<form method="POST" th:object="${house}" th:action="@{/adminHome/edit}" enctype = "multipart/form-data">
	                        <div class="ui fluid violet card">
	                            <div class="content">
	                           		<input type = "hidden" th:field = "*{id}" th:value = "${house.getId()}">
	                                <label class="ui violet header">House Name</label>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{name}" th:name = "name" th:value = "${house.getName()}">
	                                </div>
	
	                                <label class="ui violet header">Location</label>
	                                <select class="ui fluid dropdown" th:field = "*{location}" th:name = "location" th:value = "${house.getLocation()}">
	                                    <option value="Arada Sub city">Arada Sub city</option>
	                                    <option value="Gulele Sub city">Gulele Sub city</option>
	                                    <option value="Bole Sub city">Bole Sub city</option>
	                                    <option value="Addis Ketema Sub city">Addis Ketema Sub city</option>
	                                    <option value="Kolfe Sub city">Kolfe Sub city</option>
	                                    <option value="Kirkos Sub city">Kirkos Sub city</option>
	                                    <option value="Lideta Sub city">Lideta Sub city</option>
	                                    <option value="Yeka Sub city">Yeka Sub city</option>
	                                    <option value="Akaki Kaliti Sub city">Akaki Kaliti Sub city</option>
	                                    <option value="Nifas Silk Sub city">Nifas Silk Sub city</option>
	                                </select>
	
	                                <label class="ui violet header">Number of bedrooms</label>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{numberOfBedRooms}" th:name = "numberOfBedRooms" th:value = "${house.getNumberOfBedRooms()}">
	                                </div>
	
	                                <label class="ui violet header">Area</label>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{area}" th:name = "numberOfBedRooms" th:value = "${house.getArea()}">
	                                </div>
	
	                                <label class="ui violet header">Price</label>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{price}" th:name = "*{price}" th:value = "${house.getPrice()}">
	                                </div>
	
	                                <label class="ui violet header">Image</label>
	                                <div class="ui fluid input">
	                                    <input type="file" th:name = "houseImageFile">
	                                </div>
	                                <br>
	                                <button class="ui fluid large violet button">Save Changes</button>
	                                <br>
	                            </div>
	                        </div>
	                	</form>
                    </div>
                </div>

            </div>
        </div>
    </body>
    <script type="text/javascript">
        $('.ui.vertical.pointing.violet.fluid.menu')
            .on('click', '.item', function() {
                if($('.item').hasClass('active'))
                {
                    $('.item').removeClass('active');
                }

                if(!$(this).hasClass('active')) {
                    $(this).addClass('active');
                }
            }
    );

    $('.ui.fluid.dropdown').dropdown();
    </script>
</html>
