<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Real Estate Management System</title>
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    </head>
    <body>
        <div class="ui fluid container">
            <div class="headerBar">

            </div>
            <div class="ui container">
                <div class="headerContent">
                    <br>
                    <div class="ui grid">
                        <div class="ui four wide column">
                            <a th:href = "@{/home}"><img height = "50px" th:src="@{/images/logo.png}"></a>
                        </div>
                        <div class="ui six wide column">
                            <div class="ui violet fluid icon input">
                                <input type="text" placeholder="Search..." id="q">
                                <i class="violet inverted circular search link icon" onclick="searchHouse()"></i>
                            </div>
                        </div>
                        <div th:if ="${isLoggedIn}" class="ui four wide column">
                            <div>
                            	<form method="POST" th:action="@{/logout}"><button style="background: #fff;" class="ui right floated small red header">Logout</button></form>			
                            </div> 
                            <div class="ui right floated small purple header"><i class="icon user outline"></i><span th:text="${userName}" th:remove="tag">Hi, Username</span> |</div> 
                        </div>
                        <div th:unless="${isLoggedIn}" class="ui four wide column">
                            <div class="ui circular right floated button" onclick="forwardTo('registration')">Register</div>
                            <div class="ui circular violet right floated button" onclick="forwardTo('login')">Login</div> 
                        </div>
                    </div>
                </div>
                <div class="ui centered grid">
                    <div class="ui fourteen wide column">
                       
                    </div>
                </div>
            </div>
            <div class="welcomeDiv">
                <div class="ui huge inverted header centered">
                    <span class="ui inverted huge header">The Ultimate Real Estate Finder in Addis.<br></span>
                    <span class="ui inverted header">Let's help You find your ideal <br> Home!<br></span>
                    <div class="ui inverted small centered header"><i class="icon angle down"></i></div>
                </div>        
            </div>
            
            <div class="filterDiv">
                    <br>
                    <br>
                <div class="ui container">
                    <div class="ui stackable grid">
                        <div class="ui sixteen wide column">
                            <div class="ui fluid card">
                                <div class="content">
                                    <h4 class="ui large violet header"><i class="icon filter"></i> Find Your Home</h4>
                                    <hr class="ui divider">
                                    
                                    <form method="POST" th:action="@{/home/searchHouse}">
                                    
	                                    <div class="ui six column grid">
	                                    	<div class="column">
	                                            <div class="ui tiny violet header"><i class="icon map marker alternate"></i>Type</div>
	                                            <hr class="ui divider">
	                                            <select class="ui fluid dropdown" th:name = "type">
	                                                <option value="Any Type">Any Type</option>
	                                                <option value="For Sell">For Sell</option>
	                                                <option value="For Rent">For Rent</option>
	                                            </select>
	                                        </div>
	                                        
	                                        <div class="column">
	                                            <div class="ui tiny violet header"><i class="icon map marker alternate"></i>Location</div>
	                                            <hr class="ui divider">
	                                            <select class="ui fluid dropdown" th:name = "location">
	                                                <option value="Any Where">Any Where</option>
	                                                <option value="Arada Sub city">Arada Sub city</option>
	                                                <option value="Gulele Sub city">Gulele Sub city</option>
	                                                <option value="Bole Sub city">Bole Sub city</option>
	                                                <option value="Addis Ketema Sub city">Addis Ketema Sub city</option>
	                                                <option value="Kolfe Sub city">Kolfe Sub city</option>
	                                                <option value="Kirkos Sub city">Kirkos Sub city</option>
	                                                <option value="Lideta Sub city">Lideta Sub city</option>
	                                                <option value="Yeka Sub city">Yeka Sub city</option>
	                                                <option value="Akaki Kaliti Sub city">Akaki Kaliti Sub city</option>
	                                                <option value="Nifas Silk Sub city">Nifas Silk Sub city</option>
	                                            </select>
	                                        </div>
	                                        <div class="column">
	                                            <div class="ui tiny violet header"><i class="icon tag"></i>Price Range</div>
	                                            <hr class="ui divider">  
	                                            <select class="ui fluid dropdown" th:name = "priceRange">
	                                                <option value="Any Price">Any Price</option>
	                                                <option value="Less than 1,000,000">Less than 1,000,000</option>
	                                                <option value="1,000,000 - 3,000,000">1,000,000 - 3,000,000</option>
	                                                <option value="3,000,000 - 5,000,000">3,000,000 - 5,000,000</option>
	                                                <option value="5,000,000 - 10,000,000">5,000,000 - 10,000,000</option>
	                                                <option value="10,000,000 - 15,000,000">10,000,000 - 15,000,000</option>
	                                            </select> 
	                                        </div>
	                                        <div class="column">
	                                            <div class="ui tiny violet header"><i class="icon bed"></i>Bedrooms</div>
	                                            <hr class="ui divider">
	                                            <select class="ui fluid dropdown" th:name = "numberOfBedRooms">
	                                                <option value="1">1</option>
	                                                <option value="2">2</option>
	                                                <option value="3">3</option>
	                                                <option value="4">4</option>
	                                                <option value="5">5</option>
	                                                <option value="6">More than 5</option>
	                                            </select>        
	                                        </div>
	                                        <div class="column">
	                                            <div class="ui tiny violet header"><i class="icon Building"></i>Area (m2)</div>
	                                            <hr class="ui divider">
	                                            <select class="ui fluid dropdown" th:name = "area">
	                                                <option value="less than 70">Less than 70</option>
	                                                <option value="70 - 150">70 - 150</option>
	                                                <option value="150 - 300">150 - 300</option>
	                                                <option value="300 - 500">300 - 500</option>
	                                                <option value="500 - 1000">500 - 1000</option>
	                                                <option value="More than 1000">More than 1000</option>
	                                            </select>    
	                                        </div>
	                                        <div class="column">
	                                            <br>
	                                            <hr class="ui divider">
	                                            <button class="ui fluid violet button">Search</button>
	                                        </div>
	                                    </div>
	                            	</form>
                                </div>
                            </div>
                        </div>
                        <div class="ui sixteen wide column" th:if = "${searched}">

                            <div th:unless = "${isLoggedIn}" class="ui large violet header">We found <span class="ui violet huge label" th:text = "${houseCountForNonLoggedInUser}">23</span> houses. Please <button class="ui large violet inverted button" onclick="forwardTo('login')">Login</button> or <button class="ui large violet inverted button" onclick="forwardTo('registration')">Register</button> to view results.</div>

                            <div class="ui four cards" th:if = "${isLoggedIn}">
                            	<div th:if = "${noRealEstate}" class="ui large violet header">We found <span class="ui violet huge label">0</span> houses.</div>
                                
                               	<div class="card" th:unless = "${noRealEstate}" th:each = "realEstate : ${realEstates}">
                                    <div class="image">
                            			<img th:src="@{/images/3.jpg}">
                        			</div>
                                    <div class="content">
                                        <h4 class="ui violet header" th:text = "${realEstate.getName()}">House Name Here</h4>
                                        <div class="ui divider"></div>
                                        <button class="ui violet fluid tiny button" th:onclick = "'viewHouse(' + ${realEstate.getId()} + ')'">Detail<i class="icon arrow right"></i></button>     
                                    </div>
                               	</div>
                            </div>
                        </div>
                        </div>
                        <div class="footerContent">
                            <div class="ui  tiny centered header">Real estate management system. Developed at AAiT.</div>
                        </div>
                    </div>
                </div>       
            </div>
            
        </div>
    </body>
    
    <script type="text/javascript" th:src="@{/js/semantic.min.js}"></script>
    <script type="text/javascript">
        $('.ui.fluid.dropdown').dropdown();
        function forwardTo(link)
        {
        
        	window.location.assign("/" + link);
        }
        
        function searchHouse()
        {
        	var name = document.getElementById('q').value;
        	var host = "/home/searchHouseByName/?name=" + name;
        	window.location.assign(host)
        }
        
        function viewHouse(id)
        {
        	var host = "/home/viewHouse/" + id;
        	window.location.assign(host)
        }
    </script>
</html>