<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Real Estate Management System</title>
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fluid container">
            <div class="headerBar">

            </div>
            <div class="ui container">
                <div class="headerContent">
                    <br>
                    <a th:href = "@{/home}"><img height = "50px" th:src="@{/images/logo.png}"></a>
                   
                </div>
                <div class="ui centered grid">
                    <div class="ui six wide column">
                        <br>
                        <br>
                        <div class="ui fluid violet card">
                            <div class="content">
                            	<form method="POST" th:action="@{/login}" id="loginForm">
	                                <span class="ui centered large violet header">Login</span>
	                                <hr class="ui divider">
	                                
	                                <span class="ui violet small header">UserName</span>

	                                <div class="ui left icon fluid input">
	                                    <input type="text" name="username" id="username" />
	                                    <i class="user icon"></i>
	                                </div>
	                                <br>
	                                <br>
	                                <span class="ui violet small header">Password</span>
	                                <div class="ui left icon fluid input">
	                                    <input type="password" name="password" id="password" />
	                                    <i class="lock icon"></i>
	                                </div>
		                            <br>
		                            <div class="ui fluid tiny negative message" th:if="${error}">
	                                	<p th:if="${error}" th:text = "Error">error message here</p>
	                                </div>
	                                <br>
	                                <button class="ui fluid violet large button">Login</button>
	                                <br>
	                                <div class="ui right floated">
	                                <span class="meta">
	                                	Don't have an account? 
	                                </span>
	                                <a th:href="@{/registration}"> Register Here.</a>
	                                </div>
	                           </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerContent">
                <div class="ui inverted tiny centered header">Real estate management system. Developed at AAiT.</div>
            </div>
        </div>
    </body>
    <script type="text/javascript" th:href="@{/js/semantic.min.js}"></script>
</html>