<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Real Estate Management System</title>
        
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        
    </head>
    <body style="background: #fff;">
	<div class="ui container">
	    <div class="headerContent">
                    <br>
                    <div class="ui grid">
                        <div class="ui four wide column">
                            <a th:href = "@{/home}"><img height = "50px" th:src="@{/images/logo.png}"></a>
                        </div>
                        <div class="ui six wide column">
                            
                        </div>
                        <div th:if ="${isLoggedIn}" class="ui four wide column">
                            <div>
                            	<form method="POST" th:action="@{/logout}"><button style="background: #fff;" class="ui right floated small red header">Logout</button></form>			
                            </div> 
                            <div class="ui right floated small purple header"><i class="icon user outline"></i><span th:text="${userName}" th:remove="tag">Hi, Username</span> |</div> 
                        </div>
                        <div th:unless="${isLoggedIn}" class="ui four wide column">
                            <div class="ui circular right floated button" onclick="forwardTo('registration')">Register</div>
                            <div class="ui circular violet right floated button" onclick="forwardTo('login')">Login</div> 
                        </div>
                    </div>
            </div>
            <div class="ui stackable grid" style="position: absolute; top: 120px;" th:object = "${house}">
                <div class="ui five wide column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img th:src="@{/images/2.jpg}">
                        </div>
                    </div>
                </div>
                <div class="ui one wide column"></div>
                <div class="ui nine wide column" style="border-left: 2px solid #ccc;">
                    <h2 class="ui violet header" th:text = "${house.getName()}">House Name</h2>
                    <div class="ui divider"></div>
                    <h4 class="ui violet tiny header"><i class="icon map marker alternate"></i><span th:text = "'Location - ' + ${house.getName()}" th:remove = "Tag">Location - bole</span></h4>                                        
                    <h4 class="ui violet tiny header"><i class="icon bed"></i><span th:text = "'Number of Bedrooms - ' + ${house.getName()}" th:remove = "Tag">Number of Bedrooms - 4</span></h4>                                        
                    <h4 class="ui violet tiny header"><i class="icon building"></i><span th:text = "'Area - ' + ${house.getName()} + 'm2'" th:remove = "Tag">Area - 150 m2</span></h4>                                        
                    
                    <h4 class="ui violet tiny header"><i class="icon tag"></i><span th:text = "'Price - ' + ${house.getName()}" th:remove = "Tag">Price - 2500000</span></h4> 

                    <div th:unless = "${requestedBefore}">
                    	<button class="ui violet button" th:onclick = "'rentHouse(' + ${house.getId()} + ')'" th:unless = "${forSell}"><i class="icon handshake"></i>Rent</button>
	                    <button class="ui violet button" th:onclick = "'buyHouse(' + ${house.getId()} + ')'" th:if = "${forSell}"><i class="icon dollar sign"></i>Buy</button>
                    </div>
                    <div th:if = "${requestedBefore}">
                    	<button class="ui violet disabled button" th:onclick = "'rentHouse(' + ${house.getId()} + ')'" th:unless = "${forSell}"><i class="icon handshake"></i>Rent</button>
	                    <button class="ui violet disabled button" th:onclick = "'buyHouse(' + ${house.getId()} + ')'" th:if = "${forSell}"><i class="icon dollar sign"></i>Buy</button>
	                    <div class="ui violet message">
	                    	Your Request is being processed!
		                </div>
                    </div>
                    <div class="footerContent">
                <div class="ui inverted tiny centered header">Real estate management system. Developed at AAiT.</div>
            </div>
            </div>
            
        </div>
    </body>
    
    <script type="text/javascript" src="./js/semantic.min.js"></script>
    <script type="text/javascript">
        $('.ui.fluid.dropdown').dropdown();
        
        function rentHouse(id)
        {
        	var host = "/home/rent?houseId="+id;
        	window.location.assign(host)
        }
        
        function buyHouse(id)
        {
        	var host = "/home/buy?houseId="+id;
        	window.location.assign(host)
        }
    </script>
</html>
