<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">

<head>
	<title>LogIn</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div>
		<form th:object="${user}" method = "POST">
			<div id = "mainDiv">
				<span class = "text-info">User Name: </span>
				<input type = "text" th:field="*{name}"/>
				
				<span class="text-danger" 
     				th:if="${#fields.hasErrors('name')}" 
     				th:errors="*{name}">Name Error</span>
     				
				<br>
				<br>
				
				<span class = "text-info">Password: </span>
				<input th:field = "*{password}" type = "password" />
				<span class="text-danger" 
     			th:if="${#fields.hasErrors('password')}" 
     			th:errors="*{password}">Name Error</span>
				<br>
     				
				<button>Submit</button>
			</div>
		</form>
	</div>

	<script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
    <script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
    <script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>	
</body>

</html>