<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Real Estate Management System</title>
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fluid container">
            <div class="headerBar">

            </div>
            <div class="ui container">
                <div class="headerContent">
                    <br>
                    <h1 class="ui violet circular huge label">Logo goes here</h1>
                </div>
                <div class="ui centered grid">
                    <div class="ui six wide column">
                        <br>
                        <br>
                        <div class="ui fluid violet card">
                            <div class="content">
                            	<form method="POST" th:object="${user}">
	                                <span class="ui centered large violet header">Register</span>
	                                <hr class="ui divider">
	                                <span class="ui violet small header">First Name</span>
	                                <div class="ui left icon fluid input">
	                                    <input type="text" placeholder="First Name" th:field = "*{firstName}"/>
	                                    <i class="user icon"></i>
	                                </div>
	                                
	                                <br>
	                                <div th:if="${#fields.hasErrors('firstName')}" class="ui fluid tiny negative message">
	                                <p th:if="${#fields.hasErrors('firstName')}" 
	     									th:errors="*{firstName}">error message here</p>
	                                </div>
	                                <br>          
	                      			
	                                <span class="ui violet small header">Last Name</span>
	                                <div class="ui left icon fluid input">
	                                    <input type="text" placeholder="Last Name" th:field = "*{lastName}"/>
	                                    <i class="user icon"></i>
	                                </div>
	                                
	                                <br>
	                                <div th:if="${#fields.hasErrors('lastName')}" class="ui fluid tiny negative message">
	                                <p th:if="${#fields.hasErrors('lastName')}" 
	     									th:errors="*{lastName}">error message here</p>
	                                </div>
	                                <br>
	                                
	                                <span class="ui violet small header">Email</span>
	                                <div class="ui left icon fluid input">
	                                    <input type="text" placeholder="Email" th:field = "*{email}"/>
	                                    <i class="email icon"></i>
	                                </div>
	                                
	                                <br>
	                                <div th:if="${#fields.hasErrors('email')}" class="ui fluid tiny negative message">
	                                <p th:if="${#fields.hasErrors('email')}" 
	     									th:errors="*{email}">error message here</p>
	                                </div>
	                                <br>
	                                
	                                <span class="ui violet small header">Phone Number</span>
	                                <div class="ui left icon fluid input">
	                                    <input type="text" placeholder="Phone Number" th:field = "*{phoneNumber}"/>
	                                    <i class="user icon"></i>
	                                </div>
	                                
	                                <br>
	                                <div th:if="${#fields.hasErrors('phoneNumber')}" class="ui fluid tiny negative message">
	                                <p th:if="${#fields.hasErrors('phoneNumber')}" 
	     									th:errors="*{PhoneNumber}">error message here</p>
	                                </div>
	                                <br>
	                                
	                                <span class="ui violet small header">User Name</span>
	                                <div class="ui left icon fluid input">
	                                    <input type="text" placeholder="username"  th:field="*{name}"/>
	                                    <i class="user icon"></i>
	                                </div>
	                                
	                                <br>
	                                <div th:if="${#fields.hasErrors('name')}" class="ui fluid tiny negative message">
	                                <p th:if="${#fields.hasErrors('name')}" 
	     									th:errors="*{name}">error message here</p>
	                                </div>
	                                <br>
	                                
	                                <span class="ui violet small header">Password</span>
	                                <div class="ui left icon fluid input">
	                                    <input type="password" placeholder="password" th:field = "*{password}"/>
	                                    <i class="lock icon"></i>
	                                </div>
	                               
	                                <div th:if="${#fields.hasErrors('password')}"  class="ui fluid tiny negative message">
	                                
	                                	<p
	                                	th:if="${#fields.hasErrors('password')}" 
     									th:errors="*{password}">error message here</p>
	                                </div>
		                            
		                            <div class="ui fluid tiny negative message" th:if="${error}">
	                            
	                                	<p th:text="${message}">error message here</p>
	                                </div>
	                                <br>
	                                <button class="ui fluid violet large button">Register</button>
	                           </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerContent">
                <div class="ui inverted tiny centered header">Real estate management system. Developed at AAiT.</div>
            </div>
        </div>
    </body>
    <script type="text/javascript" th:href="@{/js/semantic.min.js}"></script>
</html>