<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Real Estate Management System</title>
        <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fluid container">
            <div class="headerBar">

            </div>
            <div class="ui container">
                <div class="headerContent">
                    <br>
                    <h1 class="ui violet circular huge label">Logo goes here</h1>
                </div>
                <div class="ui centered grid">
                    <div class="ui fourteen wide column">
                        <br>
                        <div class="ui fluid card">
                            <div class="content">
                            	<form method="POST" th:object="${user}" th:action="@{/registration}">
	                                <span class="ui violet Large header"><i class="small user plus icon"></i> User Registration Form</span>
	                                <hr class="ui divider">
	
	                                <div class="ui violet small header">First Name</div>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{firstName}"/>    
	                                </div>
	                                <span class="ui tiny red header" 
	                                	  th:if="${#fields.hasErrors('firstName')}" 
	                                	  th:errors="*{firstName}">first name error</span>
	                                 <br>         
	                                <div class="ui violet small header">Last Name</div>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{lastName}"/>    
	                                </div>
	                                <span class="ui tiny red header" 
	                                	  th:if="${#fields.hasErrors('lastName')}" 
	                                	  th:errors="*{lastName}">first name error</span>
	                                 <br>       
	                                <div class="ui violet small header">Email</div>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{email}"/>    
	                                </div>
	                                <span class="ui tiny red header" 
	                                	  th:if="${#fields.hasErrors('email')}" 
	                                	  th:errors="*{email}">first name error</span>
	                                        <br>            
	                                <div class="ui violet small header">Phone Number</div>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{phoneNumber}"/>    
	                                </div>
	                                <span class="ui tiny red header" 
	                                	  th:if="${#fields.hasErrors('phoneNumber')}" 
	                                	  th:errors="*{phoneNumber}">first name error</span>  
	                                <br>
	                                <div class="ui violet small header">Username</div>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field="*{userName}"/>    
	                                </div>
	                                <span class="ui tiny red header" 
	                                	  th:if="${#fields.hasErrors('userName')}" 
	                                	  th:errors="*{userName}">first name error</span>    
	                                        <br>
	                                <div class="ui violet small header">Password</div>
	                                <div class="ui fluid input">
	                                    <input type="text" th:field = "*{password}"/>    
	                                </div>
	                                <span class="ui tiny red header" 
	                                	  th:if="${#fields.hasErrors('password')}" 
	                                	  th:errors="*{password}">first name error</span>   
	                                    <br>
	                                    <br>
	                                <button class="ui fluid violet large button">Register</button>
	                        	</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerContent">
                <div class="ui inverted tiny centered header">Real estate management system. Developed at AAiT.</div>
            </div>
        </div>
    </body>
    <script type="text/javascript" th:href="@{/js/semantic.min.js}"></script>
</html>