body{
    background-image: linear-gradient(90deg, #42275a , #734b6d);
}
.headerBar{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 2px solid #42275a;
    z-index: 1000;
    box-shadow: 5px 10px 20px #42275a;
}
.headerContent{
    z-index: 3000;
    position: absolute;
    width: 100%;
    top:0px;
}
.welcomeDiv{
    width: 100%;
    height: 280px;
    position: fixed;
    top: 85px;
}
.filterDiv{
    position: absolute;
    top: 365px;
    width: 100%;
    min-height: 600px;
    height: auto;
    background: #fff;
}
.footerContent{
    position: absolute;
    bottom: 0;
    height: 30px;
    width:100%;
}